[2015-03-17 14:04] hlapp opened #1 "Create repository for hackathon team 1 and give write access"

[2015-03-17 14:06] hlapp commented on #1
Repository created, as well as team. This issue on the repo's tracker as well as this comment should have generated an email to you which should contain a link to the repo (click "view this on Github").

[2015-03-17 14:06] #1 closed

[2015-03-19 14:31] zkamvar opened #3 "Wishlist for future tutorials"
These tutorials should be listed in the index file for the tutorials, but not linked until they are completed.
- [ ] Parentage analysis (broken out to #48)
    - kinship coefficient
- [ ] Clustering
    - hybridization
    - introgression
- [ ] Population Differentiation
    - Fst
    - AMOVA
    - DAPC
- [ ] Effective population size
- [ ] Simulations
- [ ] Spatial and Landscape Analysis
   - Man

[2015-03-19 14:44] zkamvar opened #4 "Section titles"
Proposed menu buttons:

(text in parentheses) indicate where the link goes.

- For Users
    - Getting Started with R
    - [pagebreak]
    - SNP (index page)
    - Microsatellites (index page)
    - Sequence (index page)
- For Developers (index page)
- For Contributors
    - How to use git
    - contributing data sets
    - contributing documents

[2015-03-19 14:44] zkamvar commented on #3
From Margarita:

- [ ] phylogeography

[2015-03-19 14:48] zkamvar opened #5 "Create Data Directory for new data"

[2015-03-19 21:39] smanel commented on #3
We miss sections (see biological questions), but do we want to be exhaustive now?

[2015-03-19 21:48] zkamvar commented on #3
When it comes to biological questions, it is valuable to be exhaustive regarding those. We do not need to be exhaustive regarding specific examples.

[2015-03-20 14:55] zkamvar opened #12 "Create table of contents for each of the user files"
Check these off as they are completed.

 - [ ] SNP
 - [ ] SSR
 - [ ] SEQUENCE

[2015-03-20 16:57] caitiecollins opened #13 "Comments sections under each post?"
Idea: Add comments sections under each of the workflows so that users can post comments and questions.
Examples: If something in the workflow wasn't as clear as its author thought it was, or if a user wants to do something similar-but-not-identical and doesn't know how.
Comments posted could be answered by either the author or by other users. (Otherwise you're going to hemorrhage users to Stack Ov

[2015-03-22 18:19] #5 closed

[2015-03-23 00:27] hlapp commented on #4
I suggest to limit hierarchical structure and index organization to the extent it is useful for navigation and conveying content clearly. Mostly empty index pages (because there are few entries yet) make the site appear less rich in content than it is. See #16 for a correspondingly motivated change of the menus.

Once there is more content than can well be navigated through the menus, we can come

[2015-03-23 00:40] hlapp opened #19 "Clean up team page on hackathon repo"
_(I am posting this here in lieu of creating a mailing list that reaches the group of members.)_

Our [Team page on the hackathon repo](https://github.com/NESCent/r-popgen-hackathon/wiki/Team-1) needs a little cleanup:

* [x] Clean up and update the [Products section](https://github.com/NESCent/r-popgen-hackathon/wiki/Team-1#products). Should list explicitly by name or title the workflow vignettes

[2015-03-23 00:41] hlapp commented on #19
I cleaned up and updated the Products section. Could others enumerate the workflow vignettes?

[2015-03-23 01:23] zkamvar commented on #19
I believe that the status section can stay as it is. It does serve as a reference for where we were.

[2015-03-23 01:32] zkamvar commented on #4
I agree that the sparsely filled index pages will shine a somewhat negative light on the site, but I believe we were planning on filling out these index pages with our initial biological questions and linking the ones that have yet to be addressed. Once we have obtained a mass of invited submissions, then we would be able to announce it to the public.

At least that's the way I had it in my head.

[2015-03-23 18:41] mgiresi commented on #4
This all sounds good to me. I will be MIA until probably Friday.

On Sun, Mar 22, 2015 at 8:32 PM, Zhian N. Kamvar <notifications@github.com>
wrote:

[2015-03-24 21:01] zkamvar opened #22 "Discussions on the look and feel of the website"
Hi all,

@grunwald made an observation to me yesterday that this site has the exact same look, feel, and title as our lab's [primer on population genetics](http://grunwaldlab.github.io/Population_Genetics_in_R/), which we utilize for workshops.

The reason for this similarity is not an accident, I deliberately copied the configuration file from that website into this repository so that we would ha

[2015-03-24 22:41] hlapp opened #24 "Contributing guidelines should recommend one vignette per pull request"
Having multiple vignettes in a pull request makes managing edits/corrections to each one more difficult and potentially confusing.

[2015-03-24 22:46] hlapp opened #25 "Contributing guidelines should include naming conventions."
For example,

* CamelCase or underscores to separate tokens? (We seem to be using CamelCase right now.)
* Some recommendation for a pattern that names should follow?
* Don't include words that signify facts that are implied. E.g., by definition, `Rmd` documents in one of the subdirectories are vignettes, hence no need to indicate that in the name. (And in the rare event that one is not, the name o

[2015-03-24 22:49] hlapp opened #26 "Documents to be rendered must be UTF8"
This is probably easy to achieve on Unix, and for example using Emacs, but may be difficult for less technical authors on Windows. We should have either instructions on how to achieve UTF8 encoding, or have a mechanism in the build process that makes the conversion where necessary.

[2015-03-24 23:32] zkamvar commented on #25
@hlapp, are you referring to naming conventions of vignettes?

This is important to consider since there are topics that could span multiple vignettes, but differ by marker. How about the convention of:

*date_author_subject.Rmd*

where the date is in **yyyymmdd** format, the author is **firstnamelastname**, and subject is **datasubject**.

For example, a vignette about discriminant analysis of pr

[2015-03-25 00:18] hlapp commented on #25
Yes, naming conventions of vignettes. I wouldn't include date or author.
* Re: date, which date - that of first draft, full draft, or acceptance? And I'm not sure how the date would add meaning to a vignette's file name.
* Re: author, what if there is more than one author. What if other authors than the initial one end up writing more content in the end? What would you want an author name in the f

[2015-03-25 00:20] hlapp commented on #25
I'd be in favor, for the reason you say, and because it's one that makes contribution easier (less to think about for contributors that isn't core to the vignette subject) rather than harder.

[2015-03-25 00:33] hlapp commented on #24
Do we need more to close this than #27?

[2015-03-25 00:35] zkamvar commented on #24
I think for now, we can close the issue. If this crops up again, we can reopen it.

[2015-03-25 00:46] #24 closed

[2015-03-25 17:37] mmlopezu commented on #22
Hi Zhian,

That is a very good point. I did not understand well the link the styles in the link that you sent but I agree that our website should look different that the primer on population genetics.

Margarita

[2015-03-25 17:39] zkamvar commented on #22
When we meet next week, I can go over what these things mean briefly.

Zhian

[2015-03-25 18:13] coughls commented on #22
I like the Cerulean, Sandstone and Spacelab themes but that's just my preference. They are all nice really!
Simone

[2015-03-25 22:25] zkamvar commented on #25
Your point on the author redundancy and limitation is a good one. It does make more sense to allow others to modify previous vignettes as they will have to be updated with package updates.

Clarifying on date, this would give a unique identifier to a vignette (it is not impossible to imagine two authors writing different vignettes with the same title by accident). I think date of submission would

[2015-03-26 00:52] hlapp commented on #25
Good point.

Actually, if to be used for helping to create a unique filename, shouldn't then the date of first commit be used? Because otherwise you'd have to change the filename subsequently (which isn't hard, but I'm wondering why to build the necessity for that into the process).

[2015-03-26 00:55] zkamvar commented on #25
By date of submission, I did mean date of first commit. Whoops.

[2015-03-31 16:34] thibautjombart opened #31 "adegenet tutorials"
It's been mentioned briefly before, but do you guys want to put the adegenet tutorials on this website?
The Rnw are there:
https://github.com/thibautjombart/adegenet/tree/master/tutorials

They are pretty much ready to use, though you may want to:
1. translate Rnw into Rmd and handle them as html
2. add your name in the authors if you add something to the document; I'd like to stay first unless so

[2015-03-31 16:35] thibautjombart commented on #31
If these are not general enough, no worries, just let me know

[2015-04-05 00:55] mgiresi commented on #31
They are pretty awesome. They might be a little long, but I can also work
on converting them AFTER May 8th.  I don't want authorship on anything. I
prefer being in the background.

On Tue, Mar 31, 2015 at 11:35 AM, Thibaut Jombart <notifications@github.com>
wrote:

[2015-04-05 14:38] hlapp commented on #31
That's a possibility, but I'd rather like to engineer the rendering workflow such that it can take .Rnw as well.

[2015-04-05 14:41] hlapp opened #32 "Allow .Rnw as source format for rendering pipeline"
Some vignettes in this resource may be adaptations of existing ones, which may sometimes (often times?) be in .Rnw format rather than .Rmd. The rendering pipeline should be able to accommodate this format rather than requiring .Rmd. See #31 for a concrete example.

[2015-04-07 16:13] mmlopezu opened #33 "List of Things To Do - After meeting 7Apr15"
* [x] Changing the look of the website
* [x] Create a vignette for the format of vignettes
* [x] Create .Rmd files with links to other websites
* [x] Link information from Software Carpentry about how to use Github (see #34)
* [x] Eat our own dog food
* [x] Add a section to the bottom of all vignettes where there is a list of all contributors
* [x] Create a discussion about citations (knitcitation

[2015-04-07 16:15] zkamvar commented on #22
After the group discussion today: Superhero theme. I'll try to get that up sometime today.

[2015-04-07 16:28] hlapp opened #34 "Instructions for how to contribute through a pull request"
We concluded that how to submit a pull request on Github is not necessarily intuitive, and that we'd like step-by-step instructions for how to do this. Perhaps we can benefit from, reuse, or even simply point to instructions that Software Carpentry has already developed - could @gvwilson comment or give some pointers for what's available in this regard from SWC? (I tried searching but to no avail.

[2015-04-07 22:37] zkamvar commented on #33
I will take charge of changing the look of the website and I will also look into adding a section at the bottom of vignettes for contributors (from the YAML data).

[2015-04-07 23:55] zkamvar commented on #22
![image](https://cloud.githubusercontent.com/assets/3639446/7036241/cc9c87d2-dd46-11e4-97ce-bd50cfc85db8.png)

This is what superhero theme looks like.

[2015-04-07 23:57] zkamvar commented on #22
![image](https://cloud.githubusercontent.com/assets/3639446/7036257/15bc6b8a-dd47-11e4-9243-afcce448fc68.png)
Spacelab theme

[2015-04-07 23:58] zkamvar commented on #22
![image](https://cloud.githubusercontent.com/assets/3639446/7036275/517e20e6-dd47-11e4-9f3d-6bb7a0f618f6.png)
Cerulean

[2015-04-08 00:05] zkamvar commented on #22
I can't get Sandstone to work, but that's because my css-fu is not very good at the moment.

[2015-04-08 00:08] zkamvar commented on #22
Personally, I like cerulean :)

[2015-04-08 01:23] hlapp commented on #22
I like Spacelab :smile:

[2015-04-08 10:49] coughls commented on #33
Sorry I was stuck in another meeting that ran over yesterday so couldn't make the hangout! Will make the next one!

[2015-04-08 13:35] thibautjombart commented on #31
@mgiresi regading authorship: point is, beyond recognition, it is useful for people to know who to contact regarding a document's content. You take credit for the good, and the bad things in there .. ;)

[2015-04-08 13:35] thibautjombart commented on #31
@hlapp is Rmd the preferred format, or is the platform agnostic?

[2015-04-08 13:56] hlapp commented on #31
The platform R is, I think, agnostic. You can meanwhile write package vignettes either way, and package vignettes get rendered using R method calls. So we should be able to accomplish the same thing. The one thing I'm not sure about is whether this is still true for HTML (rather than PDF) as the rendering product (I understand that package vignettes get all rendered to PDF when building a package?

[2015-04-08 14:24] mmlopezu commented on #22
Either cerulean or spacelab :)

On Tue, Apr 7, 2015 at 9:23 PM, Hilmar Lapp <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
Postdoctoral Researcher
Department of Entomology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cornell.edu/margarita-m-lopez-uribe/>

[2015-04-08 14:25] mmlopezu commented on #33
I will create .Rmd files to link to other websites or blogs

@zkamvar - how do you create the checkboxes next to the list of items?

[2015-04-08 14:28] hlapp commented on #33
* [ ] text

See [Github docs](https://help.github.com/articles/writing-on-github/#task-lists).

[2015-04-08 14:28] mmlopezu commented on #33
Thanks!

On Wed, Apr 8, 2015 at 10:28 AM, Hilmar Lapp <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
Postdoctoral Researcher
Department of Entomology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cornell.edu/margarita-m-lopez-uribe/>

[2015-04-08 15:09] zkamvar commented on #31
This is not true. Rmd vignettes are rendered as html by default [i.e. the magrittr vignette](http://cran.r-project.org/web/packages/magrittr/vignettes/magrittr.html).

This question about [turning Rnw to html](http://stackoverflow.com/questions/7512897/how-to-turn-a-latex-sweave-file-rnw-into-html) shows that it is apparently non-trivial. There are [ways to convert latex to html](http://biostat.mc

[2015-04-08 15:32] zkamvar commented on #22
:scream_cat: It's a tie!

[2015-04-08 15:42] thibautjombart commented on #31
Yes the conversion from LaTeX to html is non-trivial. A few years back
(during my PhD) I tried pretty much all the options around, and the main
problem was basically with formula, which have to be converted into
pixmaps. Which is really $a$nnoying when y$o$u have various symbols in-line
&x&, $y$, $z$...

On Wed, Apr 8, 2015 at 4:09 PM, Zhian N. Kamvar <notifications@github.com>
wrote:

[2015-04-08 16:12] hlapp commented on #31
To be clear, what we want isn't to convert LaTeX (or TeX) to HTML, which is what almost all of the StackOverflow article is about, but to convert .Rnw to HTML. The OP starts with saying that they could well do this to obtain HTML:

[code]

but that they need TeX to HTML so it works on Windows. We don't need it to work on Windows (the build environment is Linux). I haven't had an opportunity yet to

[2015-04-29 12:10] hlapp commented on #3
Consolidated phylogeography (from @mmlopezu) into checklist, and removed separate comment as a clean up.

[2015-04-29 12:12] hlapp commented on #3
I'd like to suggest that we break all of these out into separate issues. That makes it easy to tag, find, and discuss them, as well as to follow their implementation.

[2015-04-29 12:56] hlapp commented on #34
Pinging @gvwilson.

Upon some further digging, it seems that [SWC has abandoned their own documentation in favor of referring to the corresponding documentation in the Pro Git book](https://github.com/swcarpentry/lesson-template/blob/gh-pages/CONTRIBUTING.md) (which is available for free online):
http://git-scm.com/book/en/v2/GitHub-Contributing-to-a-Project

The documentation there is pretty exte

[2015-04-29 13:28] hlapp opened #35 "Team hangout May 12th"
## Agenda

1. Special issue in MER
1. Possibility to / what is needed to write and publish a manuscript
1. Review open issues with pending updates:
    - Clean up team page on hackathon repo: #19
    - ToDo list from 7-Apr-15 meeting: #33
    - Wishlist for future tutorials: #3
    - Menu section titles: #4
1. What documentation is needed for "Instructions for how to contribute through a pull requ

[2015-05-08 22:56] zkamvar commented on #22
I went with spacelab and am going to close this issue :space_invader:

[2015-05-08 22:56] #22 closed

[2015-05-09 17:32] hlapp opened #37 "Code for Overall and Pairwise Fst is the same in Population differentiation"
The code (and hence the results) for _Overall F-statistics_ and _Pairwise F<sub>st</sub>_ are exactly the same under [Pairwise Population Differentiation](https://github.com/NESCent/popgenInfo/blob/master/use/PopDiffSequenceData.Rmd#pairwise-population-differentiation) in the [Population Differentiation for Sequence Data](http://nescent.github.io/popgenInfo/PopDiffSequenceData.html) vignette. Perh

[2015-05-10 00:57] mmlopezu commented on #37
Hi Hilmar,

Thanks for checking. It is not supposed to be like that. I'll work on it
before our meeting this Tuesday.

Margarita

On Sat, May 9, 2015 at 1:32 PM, Hilmar Lapp <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
Postdoctoral Researcher
Department of Entomology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a

[2015-05-12 15:27] hlapp commented on #19
@zkamvar will transfer biological questions to issues on the popgenInfo repo tracker.

[2015-05-12 15:36] zkamvar opened #39 "Add formal rules for adding names to vignettes"
This should go in CONTRIBUTING.md.

Names go at bottom in "Contributors" section.

[2015-05-12 15:41] zkamvar opened #40 "Test citations using bibtex"

[2015-05-12 15:44] mmlopezu opened #41 "Tasks after Meeting 12May15"
* Add instructions in 'How to contribute' for contributors to vignettes to manually add their names to the bottom of the vignettes  @coughls

* Test citations using Bibtech @hlapp

* Create an .md file linking existing sites with supporting information @mmlopezu

[2015-05-12 15:55] zkamvar opened #42 "Brainstorm about paper"
What topics are needed?

What do we need to do?

What is our timeline?

What platform to collaborate on (GitHub, Google Docs)?

Please discuss.

[2015-05-12 16:49] zkamvar opened #43 "Basic biological questions: genetic diversity, HWE"
## By marker type:
- [x] SNPs @smanel
- [x] Sequence data @mmlopezu
- [x] Microsatellite @mgiresi

Feel free to refer to this issue as each is completed by adding the issue number in your pull request.

[2015-05-12 16:51] zkamvar opened #44 "Genetic differentiation; population based distances"
## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 16:54] zkamvar opened #46 "Individual based distances"
## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when making a pull request.

## Questions to address:

- What individual based distances exist?
- What are their assumptions?
- What data types to they require?
- How can you use these distances for analyses?
    - Clustering
    - Mantel Tests
    - Dendrograms
    - etc.

[2015-05-12 16:55] zkamvar opened #47 "Landscape Genetics"
## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 16:56] zkamvar opened #48 "Parentage Analysis"
Does this yet exist in R?

## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 17:00] zkamvar opened #49 "Inferring structure from individuals"
- detecting populations
- detecting migrants
- detecting hybridization

## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 17:02] zkamvar opened #50 "Migration: Rates and Routs"
- historic rate
- recent gene flow
- parentage analysis?

Do these exist in R?

## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 17:05] mmlopezu commented on #41
@zkamvar tried making a pull request of the file with the modified extension (.md instead of .Rmd) but I do not see it in github.

[2015-05-12 17:07] zkamvar opened #51 "Demographic history inference"
- Effective population size
- Time of divergence
- Coalescence

@ewersSaucedo would be of great help with this one

## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 17:08] zkamvar opened #52 "Detecting signals of selection"
- Outlier detection
- SNP/environment
- Linkage disequilibrium methods
- Neutrality tests

## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 17:09] zkamvar opened #53 "Association"
- SNP/phenotype

## By marker type:

- [ ] SNP
- [ ] Sequence
- [ ] Microsatellite

Please refer to the issue number when submitting pull requests.

[2015-05-12 17:10] mmlopezu commented on #52
I think microsatellite markers are not suitable for outlier loci detection.

On Tue, May 12, 2015 at 1:08 PM, Zhian N. Kamvar <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
Postdoctoral Researcher
Department of Entomology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cornell.edu/margarita-m-lopez-uribe/>

[2015-05-12 17:24] zkamvar commented on #19
DONE!

[2015-05-12 17:24] #19 closed

[2015-05-12 17:25] mmlopezu commented on #41
@zkamvar problem fixed. The .md file is in my branch (Sequence_vignette_update) in Github. Feel free to add the developer stuff in there.

[2015-05-12 17:26] zkamvar commented on #52
Perhaps not, but aren't they still suitable for Linkage disequilibrium methods?

[2015-05-12 17:27] mmlopezu commented on #52
yeap

On Tue, May 12, 2015 at 1:26 PM, Zhian N. Kamvar <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
Postdoctoral Researcher
Department of Entomology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cornell.edu/margarita-m-lopez-uribe/>

[2015-05-12 17:30] smanel commented on #52
They are suitable for methods working on allele frequency (correlative method looking for association allele frequency/environment):  the SNP/environment has to be replaced by : correlations allele frequency/environment.

[2015-05-12 17:32] mmlopezu commented on #48
http://onlinelibrary.wiley.com/doi/10.1111/1755-0998.12323/abstract

[2015-05-12 17:36] zkamvar commented on #48
:+1:

[2015-05-12 18:20] smanel commented on #46
Examples of individual distances (not exhaustive):
Bray curtis distance (no assumptions)  and AMOVA distance (gstudio)
PCoA or PCA coordinates (adegenet)

I use them mainly for Mantel tests.  I think that your are correct in the other applications.

[2015-05-14 14:56] smanel commented on #46
I am working on the vignette individual genetic distance for  SNP.
You want the questions be addressed within the vignette or in a more general way?

Just another remark: in the user section, I am wondering if it would not be  more easy to replace workflow by the topic/biolgical questions that we have already.   Workflow was a basic idea, but they are a little complicate to create. They will be wi

[2015-05-14 16:28] zkamvar commented on #46
Hi Stéphanie,

The questions I wrote here were initial questions that I thought might go well under this topic. I think they should be addressed in any way that feels proper.

Additionally: Correct me if I'm wrong, but the Bray Curtis distance for genetic data is the fraction of dissimilar alleles between two samples? If so, the poppr function `diss.dist` calculates this quantity.

Regarding the u

[2015-05-14 16:30] zkamvar opened #54 "User section structure"
Question from @smanel from #46:

[2015-05-14 16:32] zkamvar commented on #54
I think this is a good idea. Each vignette will be an exploration of a particular topic and does not necessarily have to be constrained by being in a single-dataset workflow format. Thoughts?

[2015-05-15 07:42] smanel commented on #46
For Bray Curtis distance: yes it is. It was used in ecology  to quantify differences in species composition.

[2015-05-28 15:43] zkamvar opened #59 "Add rule for approving vignettes in contributing"
Need two sets of eyes before vignettes are approved.

[2015-05-28 16:40] zkamvar opened #60 "In Contributing: make sure people know to submit early"
@hlapp suggested that we should encourage people writing vignettes to submit early so that they can get feedback and make sure that people don't write the same vignette twice.

[2015-06-05 12:35] smanel commented on #54
If no objection, I will tranform the vignette "Creating and submitting workflow vignettes" and  creating and submitting vignettes and I will make the appropriate modifications?

[2015-06-07 18:21] zkamvar commented on #54
I have no objection. Please make a separate branch and create a pull request for the modifications.

[2015-06-16 15:47] zkamvar commented on #3
This will be closed once we find issues for each item.

[2015-06-16 15:57] hlapp commented on #48
As per @mmlopezu's suggestions, ideally we can convince Pew _et al_ to contribute this vignette. @mmlopezu will contact them once we're ready with contribution documentation, templates, etc.

[2015-06-16 15:58] grunwald opened #61 "Phylogeography vignette"

[2015-06-16 15:59] grunwald opened #62 "DNA sequence vignette"

[2015-06-16 16:00] grunwald opened #63 "Spatial and Landscape Analysis Vignette"
- Mantel
- Barrier (Monomier/Wombling)
- IBD

[2015-06-16 16:00] grunwald opened #64 "Simulation vignette"

[2015-06-16 16:01] grunwald opened #65 "Effective population size vignette"

[2015-06-16 16:01] grunwald opened #66 "Population differentiation vignette"
- Fst
- AMOVA
- DAPC

[2015-06-16 16:02] grunwald opened #67 "Clustering vignette"
- hybridization
- introgression

[2015-06-16 16:02] grunwald opened #68 "Parentage analysis vignette"
- kinship coefficient

[2015-06-16 16:03] grunwald commented on #3
Extracted ea h issue into a single issue and closed this issue

[2015-06-16 16:04] grunwald commented on #3
Extracted each issue into a single issue and closed this issue

[2015-06-16 16:04] grunwald commented on #3
Extracted each issue into a single issue and closed this issue

[2015-06-16 16:04] #3 closed

[2015-06-16 16:06] grunwald commented on #68
As per @mmlopezu's suggestions, ideally we can convince Pew et al to contribute this vignette. @mmlopezu will contact them once we're ready with contribution documentation, templates, etc.

[2015-06-16 16:07] hlapp commented on #68
@grunwald isn't this a duplicate of #48? Or do you have a reason to have both?

[2015-06-16 16:18] grunwald commented on #68
Yes. I extracted it from the long list of bulk issues not realizing this was already posted as a separate issue. Closing this one.

[2015-06-16 16:18] #68 closed

[2015-06-16 16:30] zkamvar commented on #12
Due to the current low volume of submissions, these table of contents will be contained within the dropdown menu until the number of submissions become more frequent.

![image](https://cloud.githubusercontent.com/assets/3639446/8188336/2c503364-140a-11e5-93de-053dfcc44cc9.png)

[2015-06-16 16:36] zkamvar commented on #54
This issue concerns modification of CONTRIBUTING.md. Issues #25, #39, #59, and #60 also have to do with modifying CONTRIBUTING.md. Because these are all small changes, I will create a branch from @smanel's branch and modify the issues labeled above.

[2015-06-16 18:15] zkamvar commented on #59
addressed in cb81a20

[2015-06-16 18:15] zkamvar commented on #60
addressed in cb81a20

[2015-06-16 18:15] zkamvar commented on #25
addressed in cb81a20

[2015-06-17 21:06] hlapp commented on #39
Addressed fully (I believe) in #69. @zkamvar you can make a pull request close an issue once merged if you use "_closes_" or "_fixes_" instead of "_addresses_".

[2015-06-17 21:06] #39 closed

[2015-06-17 21:07] hlapp commented on #59
Addressed in full (hopefully) in #69.

[2015-06-17 21:07] #59 closed

[2015-06-17 21:08] hlapp commented on #60
Addressed in #69, though we might need to emphasize this more in the future. Closing for now.

[2015-06-17 21:08] #60 closed

[2015-06-17 21:11] hlapp commented on #25
I don't think you included a [note on style as per above](https://github.com/NESCent/popgenInfo/issues/25#issuecomment-85751245) in #69. Did you decide on dropping that part for now (which I would not object to), or was that accidental?

[2015-06-17 21:13] hlapp commented on #54
@zkamvar I think you meant #69 to address this in full, so I am closing it for now. Reopen if that was misinterpreting or if I was missing some piece that remains pending in this one.

[2015-06-17 21:13] #54 closed

[2015-06-27 18:12] hlapp commented on #35
This took place. See #41 for results.

[2015-06-27 18:12] #35 closed

[2015-06-27 18:15] hlapp commented on #33
I think these are all either completed, or broken out into their own issues and tracked separately.

[2015-06-27 18:15] #33 closed

[2015-06-27 18:18] hlapp commented on #34
We're now referencing Github documentation for how to contribute through a pull request, see #69 for change set.

[2015-06-27 18:18] #34 closed

[2015-06-27 18:21] hlapp commented on #25
Closing this issue as the naming convention part (which this issue is about) was address in #69.

[2015-06-27 18:21] #25 closed

[2015-07-07 16:02] zkamvar commented on #4
I believe this issue has rendered itself useless. Closing.

[2015-07-07 16:02] #4 closed

[2015-07-07 16:02] zkamvar commented on #43
@smanel has offered to take up the Microsatellite vignette.

[2015-07-07 16:08] zkamvar opened #72 "Split up Package Developer Menu"
Currently, just "Introduction" is a bit pithy.

Proposed top menu items:

- Introduction

- Packages and data classes in R

- Writing R packages for population genetics

- Resources for writing R packages

[2015-07-07 16:20] zkamvar opened #73 "update DATAFORMATS.md"
This was a direct copy/paste from the hackathon wiki. Does it need to be updated with the things that came out of the hackathon?

[2015-07-22 03:13] #72 closed

[2015-11-06 14:27] hlapp opened #76 "rpopgen docker image needs to be updated with new package versions"

[2015-11-06 14:44] hlapp opened #77 "Schedule and coordinate vignette development sprints"
We will need to have several development sprints to get the vignettes into shape that are to be included in the publication.

[2015-11-19 14:54] hlapp opened #78 "genind2hierfstat is no longer exported and no longer needed"
The function genind2hierfstat has been removed from `adegenet`, as `hierfstat` now deals natively with `genind` objects: http://lists.r-forge.r-project.org/pipermail/adegenet-forum/2015-September/001285.html

This results in the following type of errors:
[code]

[2015-11-21 08:11] smanel commented on #77
I will work on a vignette based on the use of  correlations among SNP frequencies and environmental variables to detect the signal of selection.

[2015-11-22 18:46] smanel commented on #78
I try to use genind objects directly with hierfstat in the vignette. It does not work in the case of the commands used in the vignette.
I am waiting an answer from J. Goudet.

[2015-11-29 13:47] bjcochrane commented on #78
genind2hierfstat is indeed gone from adegenet, however hierfstat version 0.4-14, the most recent on CRAN, does not read genind objects (at least for the basic.stats function).  Is there a developer version somewhere that does?

[2015-11-29 16:50] zkamvar commented on #78
Hi @bjcochrane, @hlapp, and @smanel

Sorry for the late reply, I've been buried in work and then a much needed holiday. `genind2hierfstat()` now exists on [the development version of hierfstat](http://github.com/jgx65/hierfstat), which you can install using devtools:

[code]

hope that helps.

[2015-11-30 23:56] hlapp commented on #78
So @zkamvar, was the resolution that `genind2hierfstat()` does need to be exported from `hierfstat`? I.e., it did exist in the package since July, it just wasn't exported, with the reasoning that it shouldn't be needed because users shouldn't have to worry about interoperability. I think the functions that are used in the vignette accept `genind` objects and convert automatically (as they should)

[2015-12-01 00:19] zkamvar commented on #78
@hlapp, I believe the original idea was to port `genind2hierfstat()` to hierfstat so that genind objects would be passed to `genind2hierfstat()` internally. [It was placed in hierfstat on June 22nd](https://github.com/jgx65/hierfstat/commit/b63d8dccf6a2907b9fa17ae586e1e735fb863b52) as an internal function called `.genind2hierfstat()`. However, hierfstat has not been updated on CRAN in over a year

[2015-12-01 10:00] jgx65 commented on #78
Hi all, I'm currently writing a short vignette explaining the latest developments in `hierfstat`. As soon as this is done, I'll put it on CRAN.   Hope this is ok for you?

[2015-12-01 10:11] jgx65 commented on #78
Currently, we cannot avoid completely using `hierfstat::genind2hierfstat` because some functions (e.g. `test.g`, `varcomp.glob` ) require two data frames, one for loci and one for populations or levels. Several others (`basic.stats`, `wc`, `genet.dist`, `ind.pca`,...) work with genind objects.

[2015-12-01 14:39] hlapp commented on #78
I updated the Docker file underlying the image that Circle CI uses, and the [Docker image is now rebuilt](https://hub.docker.com/r/hlapp/rpopgen/builds/blteoiszrzg9brqgtqvug9c/).

When rebuilding with that new image, the [original error](https://github.com/NESCent/popgenInfo/issues/78#issue-117830254) disappears, but [a new one appears](https://github.com/NESCent/popgenInfo/pull/79#issuecomment-16

[2015-12-03 17:34] jgx65 commented on #78
@hlapp @smanel @zkamvar Latest version of hierfstat (0.04.20) submitted to CRAN.

[2015-12-03 17:48] zkamvar commented on #78
:+1: :confetti_ball: :tada: :100:

[2015-12-03 17:49] jgx65 commented on #78
It's now that I'm gonna get flamed ;-)

[2015-12-06 00:15] zkamvar opened #80 "Is it necessary for contributors to create a new branch on their fork?"
I believe we have this step for those who are able to access the repository, but for those who fork the repository, it seems superfluous to create a new branch. Having them work on the master branch of their fork additionally makes it easier for them to keep up to date with just:

[code]

What do you think @hlapp?

[2015-12-06 18:46] mmlopezu opened #81 ""Population Differentiation for Sequence Data" Vignette"
@hlapp @zkamvar

I am having problems with the AMOVA analysis of sequence data.

FIRST APPROACH USING hierfstat:
Problem: when trying to convert a genind object to hierfstat, it gives me the following error:
"Error in genind2hierfstat(allData3) :
  alleles must be encoded as integers or nucleotides. Exiting"
The object allData3 was a multidna object converted to genind and now I need to convert to

[2015-12-07 00:28] hlapp commented on #80
I don't think so. Let's consider two goals behind updating from upstream.

1. You want to keep up with the upstream master branch of stable build-passing development. Your command sequence is the way to do that, but it would be whether your own development is on master or on a branch. Worse yet, because now you have your own changes under development sitting on the same branch as changes going in

[2015-12-07 00:37] hlapp commented on #81
Which file are you referring to? `PopDiffSequenceData.Rmd`? Generally, it is always best to give the name of the file, that way it is unambiguous.

[2015-12-07 00:47] hlapp commented on #81
And if the code you are having problems with is in a new file that's being developed by you, the first issue you are seeing we've also had in `DifferentiationSNP.Rmd`. The [solution suggested there](https://github.com/NESCent/popgenInfo/pull/79#issuecomment-160997615) by @jgx65 actually worked; here's the code change: ee619ea15902ff6a1db8b73f7e3d8491f4d8cf5b.

[2015-12-07 08:31] jgx65 commented on #81
@mmlopezu @hlapp @zkamvar

re the conversion from `genind` to `hierfstat`, try this:

Note the use of `DNAbin2genind` rather than `as.genind.DNAbin` on the second line.

[2015-12-07 19:37] zkamvar commented on #80
I don't think I follow. Our guidelines specify to contribute via forking the repository. It seems that all of these issues you've laid out would occur even if you were developing on a separate branch in your fork. Are you suggesting that contributors not update their fork and make pull requests with an outdated version?

[2015-12-08 03:00] hlapp commented on #80
No they would not occur if you develop on a separate branch. Why did you think they would? If you never touch the master branch in your repo other than by updating from remote, you can't have merge conflicts, no? So perhaps you mean something else?

[2015-12-08 04:17] zkamvar commented on #80
This is very true. Is this the process you are envisioning?:

 - fork repository
 - create `origin/new_branch` on fork
 - work on `origin/new_branch`
 - update `origin/master` from `NESCent/master`, but continue working on `origin/new_branch`
 - make a pull request to `NESCent/master` from `origin/new_branch` when finished

Please correct me if this is not the proper flow. If this is the proper fl

[2015-12-08 04:58] hlapp commented on #80
Just a comment that this update will obviously not change what's going on in _new_branch_.

I would have put the update of master only *after* the PR was made and merged.

Yes.

I don't think we can ask prospective contributors for whom the workflow is already a learning experience by itself to also solve merge conflicts. This is often handled differently in other efforts with community contributi

[2015-12-08 05:47] zkamvar commented on #80
I think therein was the source of my confusion. I was assuming that the owners of the forks needed to keep their branches up to date before they merged. I can see that this would put the burden of the merge conflicts on them. If they make a PR from an old branch and there are merge conflicts, we can fix these on our local machines and then merge.

Thank you for clarifying, Hilmar.

[2015-12-08 06:06] zkamvar commented on #80
And now I realize why this is a good thing. This would allow one to create multiple branches that can serve different purposes that can be developed at different times.

[2015-12-08 06:06] #80 closed

[2015-12-16 21:14] zkamvar opened #88 "Add a trycatch to the build process?"
I've noticed that if there is a failure to build a page on the website, the entire CI process stops, only showing us the first instance where things fail. It would be useful to know ALL vignettes that fail instead of incrementally going through failure after failure. Do you think this is possible @hlapp?

[2015-12-16 21:45] hlapp opened #89 "The SummarySequenceData vignette fails to build"
This is due to changes in CRAN packages and needs fixing.

[2015-12-17 05:03] hlapp commented on #76
This has happened meanwhile, and it appears that the image gets rebuilt regularly as image layers it depends on get rebuilt.

[2015-12-17 05:03] #76 closed

[2015-12-17 05:05] hlapp commented on #78
This has been fixed through #79 and #87.

[2015-12-17 05:05] #78 closed

[2016-01-06 11:24] smanel commented on #52
I 'am developing the  vignette SNP and signal of selection: I use packages in development and I have problem to create the pdf file from R Markdown : Knit HTML stopped because of the following error message:

"Quitting from lines 41-52 (SignalSelectionSNP.Rmd)
Error in contrib.url(repos, "source") :
  trying to use CRAN without setting a mirror
Calls: <Anonymous> ... withVisible -> eval -> eval ->

[2016-01-06 14:44] zkamvar commented on #52
It looks like you are using the function `install.packages()`. I think you should avoid using it. This does bring up a good point on adding new packages to the docker, though. What do you think, @hlapp?

[2016-01-06 14:45] hlapp commented on #52
Yes, we should *not* install packages in any of the vignettes. Instead, they should be included in the Docker container with which we are rendering the site, and which therefore also serves as a reference for everyone else with regard to the environment under which all of the stuff described in the vignettes works.

[2016-01-09 06:22] smanel commented on #52
As you can see, I use at the moment the following command to call the packages qvalues and outflank in my vignette:

install.packages("devtools")
library("devtools")
source("https://bioconductor.org/biocLite.R")
biocLite("qvalue")
install_github("whitlock/OutFLANK")
library(OutFLANK)

What I need to  do and which commands I need to use instaed?

[2016-01-09 06:28] zkamvar commented on #52
I would recommend wrapping the installation part in a chunk that's not evaluated (`eval = FALSE`) since these packages are already present in the [docker container](https://github.com/NESCent/popgen-docker/blob/master/Rpopgen/Dockerfile).

Here's how I would set it up:

[code]

[code]
[code]

[2016-01-09 07:56] smanel commented on #52
It works...and I start to understand how it works....

[2016-01-09 18:39] zkamvar commented on #52
:)

Sent from my iPhone

[2016-01-09 18:44] hlapp commented on #52
I would recommend if at all possible to keep package installation out of the vignettes completely. How to install packages is covered well elsewhere and we can point to that, so as to what packages someone needs to run the code in a vignette can just be stated in code, or should be evident from the `library()` commands. Installing packages changes someone's system, and running a vignette should ne

[2016-01-09 19:27] zkamvar commented on #52
To that point, the package in question only exists on GitHub, so the installation is not as simple as `install.packages()`. I think that wrapping it in `eval = FALSE` and giving a small explanation for why the code chunk is there is the best option (as suggested in my previous comment)

[2016-01-11 19:34] smanel opened #104 "Contributing.md vignette"
The links to  "Contributing with git2r" is broken

[2016-01-11 19:44] zkamvar commented on #104
All the links on `CONTRIBUTING.md` work for me, including `CONTRIBUTING_WITH_GIT2R.html`. Can you specify which link is not working?

[2016-01-11 20:10] smanel commented on #104
It is ok.
I was surprised by the page.

[2016-01-15 16:17] smanel opened #106 "Error messages"
I have the  the following messages in R -gstudio:
STEP 2

[code]

STEP 3

[code]

Any idea? Can I continue?
In addition I work on my local folder and I have some "try" files. It is=t a problem? Do I need to remove them?

[2016-01-15 18:26] zkamvar commented on #106
This error says that you already have the remote set up. If you look at the [introduction](http://nescent.github.io/popgenInfo/CONTRIBUTING_WITH_GIT2R.html#backgroundmotivation), you'll notice that the first two steps should only be done once.

It's difficult to know what this means without knowing what the state of your repository is. Given your next comment:

I would say that this is a problem.

[2016-01-18 11:20] smanel commented on #106
Yes, very helpful.

In step 4, I suggest to give the information on the name of the vignette and the branch when you give a  name to the branch :(good practice is to name it the same as your branch): I read it too late.

About step 5,  I can use command  lines in Gsudio too?

I can re-start directly from step 5? Or do I need to update something before?

[2016-01-18 15:58] zkamvar commented on #106
Very good point. I will make sure to update this :+1:

Yes, these commands can be run in Rstudio (as I did in the video)

Because of the error messages above, I don't think you can start from step 5. You should delete the repository off your computer and start from step 2.

[2016-01-19 10:00] smanel commented on #106
-I already re-start from step 2 and have now no error message.
-I have created a new branch (as described in the vignette) but I have  pushed no  file (steps 5) (I am still working on the vignette).
-My question was when I am ready to commit my new file, where I need to start again: can I use the new branch that I have created but that it is empty? Or do I need to update my local repository and cr

[2016-01-19 15:26] zkamvar commented on #106
:+1: Yes. When you want to add your new file, you should use that branch.

Is this the new branch you are referring to: https://github.com/smanel/popgenInfo/tree/2016-01-18-spatial-stats ?

[2016-01-19 16:26] smanel commented on #106
yes.

[2016-01-26 15:50] hlapp opened #111 "Documentation tutorial"
This was originally proposed in the [Writing R Packages](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html) document.

[2016-01-26 15:50] hlapp opened #112 "Tests tutorial"
This was originally proposed in the [Writing R Packages](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html) document.

[2016-01-26 15:51] hlapp opened #113 "Compiled code tutorial"
This was originally proposed in the [Writing R Packages](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html) document.

[2016-01-26 15:51] hlapp opened #114 "Class inheritance tutorial"
This was originally proposed in the [Writing R Packages](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html) document.

[2016-01-26 15:52] hlapp opened #115 "S3 classes tutorial"
This was originally proposed in the [Writing R Packages](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html) document.

[2016-01-26 15:53] hlapp opened #116 "S4 classes tutorial"
This was originally proposed in the [Writing R Packages](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html) document, with a reference to `genind` as an example.

[2016-01-26 15:54] hlapp opened #117 "Submitting to CRAN tutorial"
This was originally proposed in the [Writing R Packages](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html) document.

[2016-01-26 15:58] mmlopezu opened #118 "Capitalization of drop down menu"
I just noticed that 'users' and 'package development' drop down menus need to be homogenize in terms of capitalization.

[2016-01-26 16:00] #104 closed

[2016-01-26 16:05] hlapp commented on #118
Can you be more specific? I see "Users" and "Package Developers", which doesn't seem inconsistent to me. Perhaps you mean something else?

[2016-01-26 16:13] hlapp opened #119 "Redundant listing of external resources"
We have the following external resources list in at least 3 different place: `develop/PACKAGE_TUTORIALS.md`, `develop/DEVELOPER_INTRO.Rmd`, and the "Package Developers" menu drop down.

* Hadley Wickham’s Guide For Creating R Packages
* Jeff Leek’s R Package Development
* S4 Classes in detail
* S3 Classes in detail
* A not so short introduction to S4

This not only seems unnecessarily redundant bu

[2016-01-26 16:23] hlapp opened #120 "Package Developers section should be consolidated"
It seems that what we currently have in [develop/DEVELOPER_INTRO.Rmd](http://nescent.github.io/popgenInfo/DEVELOPER_INTRO.html) is mostly redundant with the "Package Developers" menu drop-down itself and what is in [develop/PACKAGE_TUTORIALS.Rmd](http://nescent.github.io/popgenInfo/PACKAGE_TUTORIALS.html).

I think we should minimize the amount of "fluff" - pages that for a user who doesn't know w

[2016-01-26 16:43] hlapp opened #122 "Packages list versus vignettes and Docker container"
Should an effort be made to bring the [packages list](http://nescent.github.io/popgenInfo/PACKAGES.html) in synchrony with what is used in vignettes, and / or what gets installed into the [Rpopgen Docker container](https://github.com/NESCent/popgen-docker/blob/master/Rpopgen/Dockerfile)?

Right now there are packages mentioned (such as LEA) that are neither used in any of the vignettes, nor in the

[2016-01-27 00:22] zkamvar commented on #122
I think this is a good idea. Once it's done at this point, it shouldn't be too hard to keep up-to-date with the docker image.

[2016-01-27 02:51] mmlopezu commented on #118
I mean, for example, 'Basic statistics' vs 'Basic Statistics'.

On Tue, Jan 26, 2016 at 11:05 AM, Hilmar Lapp <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
NSF Postdoctoral Fellow
Department of Entomology
and
Department of Applied Ecology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cornell.edu/margarita-m-lopez

[2016-01-27 04:03] hlapp commented on #118
I see it now. Good point, this should be fixed to follow one convention.

[2016-02-01 19:51] zkamvar opened #126 "SummarySequenceData present on website, but not in repository"
The SummarySequenceData vignette [still appears on the website] (http://nescent.github.io/popgenInfo/SummarySequenceData.html), but does not exist on the master branch of the repository. It appears that this vignette previously failed checks and was pushed to a development branch in #87 and #89. I think the course of action is to take it from the development branch, clean it up, and do a new pull

[2016-02-01 19:54] zkamvar commented on #126
Additionally, it appears that old, outdated vignettes are retained on the website. Do we want this?

[2016-02-01 20:29] hlapp commented on #126
I'm pretty certain we don't. It's a result of the way that the website gets built (which is by adding files to a clean slate, but the clean slate is not in version control).

I'll need to revisit how this works and see whether I can perhaps use rsync instead.

[2016-02-01 23:49] zkamvar commented on #126
I'm going to open the outdated vignettes on website as a new issue. For this one, I want to focus specifically on resurrecting SummarySequenceData.Rmd

[2016-02-01 23:51] zkamvar opened #127 "Website retains outdated vignettes when names change"
This was initially brought up in #126. When the rebuilt website is committed to the `gh-pages` branch, files that no longer exist in the new build are not deleted.

[2016-02-01 23:59] zkamvar commented on #126
I'm adding this to the publication milestone because it is currently listed in the publication.

[2016-02-02 03:14] hlapp commented on #127
I modified your description slightly just to make clear what the actual issue is.

[2016-02-02 03:20] hlapp commented on #126
It has been resurrected 2 months ago, see 16b52608de7f5ed41d04d7b7c889248d9fff6535. This is on branch `summaryseqstats` (see https://github.com/NESCent/popgenInfo/blob/summaryseqstats/use/SummarySequenceData.Rmd). The tests currently fail for this vignette, which is why I wanted it off of master.

[2016-02-02 03:23] hlapp commented on #126
I should also note that this is summarized in #89. Now that you separated out #127, what remains here that is not a duplicate of #89?

[2016-02-02 05:37] zkamvar commented on #126
A lively discussion :joy:

...I'll close this in favor of #89.

[2016-02-02 05:37] #126 closed

[2016-02-02 05:40] zkamvar commented on #89
Bump.

Some things that are causing this to fail:

1. The data have changed so there are now 40 samples present as opposed to 20.
2. HWE.test.genind is no longer valid, having been replaced by hw.test from pegas, which does not support haploid data. It might be beneficial to remove this.

[2016-02-02 21:44] mmlopezu commented on #89
I'll work on it ASAP

On Tue, Feb 2, 2016 at 12:40 AM, Zhian N. Kamvar <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
NSF Postdoctoral Fellow
Department of Entomology
and
Department of Applied Ecology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cornell.edu/margarita-m-lopez-uribe/>

[2016-02-05 17:45] zkamvar opened #130 "Add release and doi to website before publication?"
Should we add a zenodo doi to the repository so that we can reference it in the publication? This way, even if linkrot occurs, the structure of the repository and its documentation will still exist.

[2016-02-05 17:56] hlapp commented on #130
Yes, I was certainly planning to do that just before submission.

[2016-02-05 17:58] zkamvar opened #131 "PopDiffSequenceData needs links to data"
The [Population Differentiation of Sequence Data](http://nescent.github.io/popgenInfo/PopDiffSequenceData.html) vignette does not have any description or links to the data used. I'm assuming that `Ebom` does not stand for [E. bombieri](https://en.wikipedia.org/wiki/Enrico_Bombieri) :stuck_out_tongue_closed_eyes:

Can you correct this, @mmlopezu?

[2016-02-05 18:25] mmlopezu commented on #131
I will correct this before our meeting on February 9th. Thanks for noticing @zkamvar

Ebom stands for Eulaema bombiformis :smile:

[2016-02-05 18:32] zkamvar commented on #131
:+1: :bee:

[2016-02-09 16:28] zkamvar opened #134 "Handling static images on website?"
How should we handle static images on the website?

Should we include an `images/` directory? The only thing that would go awry is that if I add an image in CONTRIBUTING.md, is that the link will be broken on the master branch.

[2016-02-09 23:44] hlapp commented on #134
Why would it? Instead, I think we'd just need to tweak the Makefiles to copy the `images/` folder into the `build` directory (similarly to what happens with the `data/` directory). Does't strike me as difficult - why don't you go ahead and add the directory, and if you're not sure how to tweak the Makefiles, I'll take a look at that.

[2016-02-11 17:29] #127 closed

[2016-02-11 18:17] hlapp opened #138 "Must have circle.yml in gh-pages"
The solution to issue #127 (website retains stale files) merged in #133 causes `circle.yml` to be among the files that are deleted from the `gh-pages` branch. This in turn causes CircleCI to complain that it cannot determine how to test the branch. (The `circle.yml` file on `master` sets `gh-pages` to be ignored, but apparently this doesn't carry through when there is a change on `gh-pages`.)

[2016-02-11 18:43] #138 closed

[2016-02-12 08:30] zkamvar opened #140 "view rendered pull requests?"
For @hlapp,

I'm wondering if there is the possibility of displaying the renderings of the various pull requests. A process like this would immensely aid peer review as the reviewers would not have to fork and render the document themselves. I know this may not be possible due to the way things are deployed.

[2016-02-12 13:26] hlapp commented on #140
So, the tests render the vignettes already anyway. The issue is to put them in a place where they can be viewed in a browser. Some thoughts:

1. Viewable in browser from local files. Would require putting the rendered site on a special branch or tag, from where it can be downloaded, unpacked, etc. Still quite a few steps on the user's end, and will lead to a proliferation of branches or tags in th

[2016-02-12 15:03] hlapp opened #141 "Possibly using obsolete packages"
We are getting the following warnings during the build, I believe all from the `genetics` package. Perhaps we should consider switching to a replacement? After all, this is what users are going to see as well, and doesn't necessarily instill confidence in our vignettes being up to the latest standards.

[code]

[2016-02-12 16:30] #106 closed

[2016-02-12 16:31] #141 closed

[2016-02-22 20:37] #140 closed

[2016-02-22 20:45] zkamvar opened #148 "Protocol for dealing with outdated pull requests?"
This is a question mainly for @hlapp, but as shown in #146, a special case arises when a user attempts to submit a vignette, but it fails because errors in other vignettes due to package updates. Even if these errors are corrected on the master branch, the tests will continue to fail because their branch is an outdated version.

Since these failures would be ideally rare (as their origin are packa

[2016-02-22 22:01] hlapp commented on #148
This is the stuff that in theory shouldn't be happening if you are branching off of a master branch that passes tests. If this is becoming a problem, perhaps we need to start locking down the Docker container version being used for integration testing to a particular build via its SHA1.

For more advanced users (such as you @zkamvar :grin:) this is more a minor annoyance than a real issue because

[2016-02-22 23:30] zkamvar commented on #148
In theory is the operative word here :grin:

Given @smanel's reaction to the verbosity of the CWG2R vignette, I would agree.

Even if the contributor submits a vignette early, the PR will still suffer the same issues if the docker environment changes. One possible way to alleviate this is to encourage users to develop their vignette fully on their own, and then add it to their fork when they are r

[2016-02-23 03:45] hlapp commented on #148
That's a good point. For a software repo this would make no sense, but indeed in our case that one vignette would depend on, call, or inherit from another will be exceedingly rare or a complete non-issue. You are right to point out that this opens up workflows that would never be considered viable in a software project.

[2016-02-23 15:45] zkamvar opened #149 "Add youtube videos to CWG2R vignette"
Add a link to the youtube playlist: https://www.youtube.com/playlist?list=PLSFzyC3wp8-doiOcjDLlryIojK29qX2NL

[2016-03-02 19:38] zkamvar commented on #149
This has been done and is in the pending pull request #132

[2016-03-02 19:38] #149 closed

[2016-03-02 20:13] zkamvar opened #153 "Update steps in CONTRIBUTING to match steps in CWG2R"
I've noticed that CONTRIBUTING has 12 steps for the process of submitting a vignette, most of which are specific to first time setup. Should we pare these steps down to the 4 (or six, if starting) steps that are in Contributing With git2R? This would also bring the steps in alignment with [our figure](https://raw.githubusercontent.com/NESCent/popgenInfo/master/images/workflow.png).

Here's what I'

[2016-03-03 02:00] zkamvar opened #155 "make html error on local machine"
@hlapp, I'm trying to test the website on my local machine, but I'm getting an error:

[code]

For verbosity:

[code]

[2016-03-03 02:03] zkamvar commented on #155
Would it be helpful to run:

[code]

[2016-03-03 02:09] hlapp commented on #155
No. I think the reason that this happens is that on MacOSX, the Docker container doesn't run on the host computer but on a VM (run by Virtualbox) on the host computer.

If it ran before the change (which I suppose it did) then I guess on MacOSX it needs to be run under the default UID:GID, which is root:

[code]

[2016-03-03 02:13] zkamvar commented on #155
That command successfully sets GID, but does not pass UID.

[2016-03-03 03:02] hlapp commented on #155
`UID` happens to be a bash builtin variable. The fix is in #156. With that fix, obviously you need to put the new variable names:

[code]

[2016-03-03 04:27] #155 closed

[2016-03-03 15:25] #118 closed

[2016-03-05 07:46] smanel commented on #153
This new way to order the step seems to be a good idea . In addition aligning the steps  with the figure is great!

[2016-03-07 00:21] zkamvar commented on #153
Should I merge #158?

[2016-03-07 04:37] smanel commented on #153
yes.

[2016-03-07 17:00] zkamvar commented on #153
Since this is currently a pull request, I will close this issue and let the conversation go on there.

[2016-03-07 17:00] #153 closed

[2016-03-08 17:20] #131 closed

[2016-03-08 17:21] zkamvar opened #162 "Issues to be fixed before publication"

[2016-03-08 17:22] #162 closed

[2016-03-08 19:27] zkamvar opened #163 "Issues to be fixed before publication"
Before publication, all vignettes and content should be ship shape. I will list issues here, no matter how small. **critical issues are bold**

## Vignettes

- [x] [Microsatellite basic statistics issues](http://nescent.github.io/popgenInfo/startMicrosatellite.html):
  - [x] **What's next link is broken**
  - [x] add message = FALSE to suppress package startup messages in package loading chunk
  -

[2016-03-08 19:33] zkamvar commented on #163
Yes, this is a long list, BUT, many of these are small changes. I believe it would be best to create branches for each major point and do pull requests. @hlapp, does that sound reasonable?

[2016-03-08 20:01] hlapp commented on #163
Yes, and awesome list! :+1:

[2016-03-08 20:16] hlapp opened #165 "Custom domain name"
We should think about giving the site a permanent custom domain name, which would help with memorability, and would isolate from any future move of the repo to a different organization or Git host.

Possible choices include the following:

* popgen.evoio.org
* popgen.evo.io
* popgen.nescent.org
* popgeninfo.org
* popgen.io

Of these, I have full (evoio.org, evo.io) or indirect (nescent.org) contro

[2016-03-08 20:23] zkamvar commented on #165
For posterity, when we go with a new site, we'll have to go through and modify all of the direct links.

[2016-03-08 20:28] zkamvar commented on #165
Also, I'm not married to having the Info at the end of our name, especially since a capital I and lowercase l are so easily confused.

[2016-03-08 22:35] zkamvar commented on #163
I need @smanel's input for the Differentiation SNP vignette. What does this phrase mean?

[2016-03-09 00:40] zkamvar commented on #165
That being said, I'm partial to popgen.nescent.org to tie it back to the hackathon.

[2016-03-09 23:37] hlapp commented on #120
Addressed in full by #173.

[2016-03-09 23:37] #120 closed

[2016-03-09 23:38] hlapp commented on #119
Fixed in #173.

[2016-03-09 23:38] #119 closed

[2016-03-09 23:39] hlapp commented on #77
I think this is complete, at least for the purposes of the publication?

[2016-03-09 23:42] zkamvar commented on #77
This is indeed complete. It was added in #121

[2016-03-09 23:43] #77 closed

[2016-03-10 06:05] smanel commented on #163
I suggest to replace by:

With a subset of 20 SNPs, five groups were finally detected and represented by the discriminant analysis.

[2016-03-10 06:13] zkamvar commented on #163
My concern with this is that the analysis shows that the groups are not well represented since there is a significant level of overlap: http://nescent.github.io/popgenInfo/DifferentiationSNP.html#unsupervised-clustering

Perhaps something like:

It's clear that a subset of 20 SNPs does not have a strong enough signal to separate the samples into distinct groups. What would happen if we used more S

[2016-03-10 07:28] smanel commented on #163
Oh sorry. I do not check it again.
Yes of course. This is really better.

[2016-03-14 01:14] hlapp commented on #165
As we are getting closer to submission, we should make a decision here.

@coughls, @smanel, @mmlopezu, @grunwald - any thoughts, preferences, other suggestions, or votes?

[2016-03-14 07:31] smanel commented on #165
I like the creative one, but It can afraid people.
So  I vote for

popgen.nescent.org

But is popgen.org not available (shorter?)

[2016-03-14 12:52] mmlopezu commented on #165
I can't see the options, but I am ok with whatever the collective decides!

Margarita

On Mon, Mar 14, 2016 at 3:31 AM, Stéphanie Manel <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
NSF Postdoctoral Fellow
Department of Entomology
and
Department of Applied Ecology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cor

[2016-03-14 14:05] hlapp commented on #165
It's been taken since 2001. The site seems currently down, but you can [see on the Internet Archive](https://web.archive.org/web/20140104212948/http://popgen.org/) what at least it used to be until recently.

[2016-03-14 15:03] coughls commented on #165
I like popgen.nescent.org as well.

On Mon, Mar 14, 2016 at 2:05 PM, Hilmar Lapp <notifications@github.com>
wrote:

[2016-03-14 16:19] zkamvar commented on #165
I like their greeting on the side panel. Do you think we should use their JS for our front page? :laughing:

[code]

[2016-03-14 16:47] mmlopezu commented on #165
My vote is for: popgen.nescent.org

Margarita

On Mon, Mar 14, 2016 at 12:19 PM, Zhian N. Kamvar <notifications@github.com>
wrote:

--
Margarita M. López-Uribe
NSF Postdoctoral Fellow
Department of Entomology
and
Department of Applied Ecology
North Carolina State University
https://sites.google.com/a/cornell.edu/mm-lopez-uribe/
<https://sites.google.com/a/cornell.edu/margarita-m-lopez-uribe/>

[2016-03-15 15:52] hlapp commented on #165
Site is live now at http://popgen.nescent.org after DNS changes have been made.

[2016-03-15 16:27] hlapp commented on #165
I am going to tentatively close this issue. Although personally I wouldn't have leaned to a subdomain of nescent.org (mainly because the main website, nescent.org, doesn't have a long-time presence), all preferences and votes stated were unanimously for popgen.nescent.org. Hence, while we can go back at any time and revise the choice, the unanimity behind popgen.nescent.org suggests we're going to

[2016-03-15 16:27] #165 closed

[2016-03-18 21:37] zkamvar commented on #66
I believe this has been done for all marker system.s

[2016-03-18 21:37] #66 closed

[2016-03-18 21:39] #42 closed

[2016-03-18 21:39] zkamvar commented on #122
This has been addressed in #163

[2016-03-18 21:39] #122 closed

[2016-03-21 18:21] zkamvar opened #176 "adjust for update to apex"
The apex package is going to update soon (See: https://github.com/thibautjombart/apex/issues/46). With this update comes a change to the accessor `locusNames()`. It has now been changed to `getLocusNames()` and `setLocusNames()`. This will have to change in these two lines: https://github.com/NESCent/popgenInfo/blame/cb0d66460c062ff8e2990c185b7f737f69f54050/use/PopDiffSequenceData.Rmd#L50-L51

The

[2016-03-21 20:20] zkamvar opened #177 "Update documentation for github drag and drop"
Back in February, GitHub announced that it is now possible to drag and drop files into the repositories:

Blog here: https://github.com/blog/2105-upload-files-to-your-repositories
Help page here: https://help.github.com/articles/adding-a-file-to-a-repository/

This could make things easier for contributors as the steps would be:

1. Update fork
2. Create new branch
3. **Drag and drop your files +

[2016-03-21 21:21] hlapp commented on #177
Are you sure this contains the details for eb7c52a10a489ced597f541feee39d4cd65a4dea, or did you mean to reference a different issue?

[2016-03-21 21:34] zkamvar commented on #177
It's coming up here because I accidentally made a commit comment that referenced this issue and then deleted it.

[2016-03-23 20:57] zkamvar commented on #177
It turns out that updating a branch created on github in git2r is *really* easy :open_mouth::

[code]

This would be the process used when the user wants to make changes on his/her computer.

[2016-03-25 00:44] hlapp commented on #163
All done, so closing this out.

[2016-03-25 00:44] #163 closed

[2016-03-25 00:47] #130 closed

[2016-03-25 19:57] #43 closed

[2016-04-01 20:29] zkamvar commented on #176
Apex has been updated. As soon as the docker container is updated, we should create a pull request from the apex-update branch.

[2016-04-02 01:04] hlapp commented on #176
I triggered a rebuild, succeeded. Submitted pull request, see #181. Triggered re-run of the CI test.

[2016-05-04 13:20] hlapp commented on #176
I believe this is done.

[2016-05-04 13:20] #176 closed

[2016-05-04 13:48] hlapp opened #183 "Trigger rerunning tests on master whenever the container gets rebuilt"
Changes in containers on Docker Hub that the `rpopgen` container depends on are set to trigger a rebuild of the `rpopgen` container. When that happens, packages are installed into the container with their latest versions (on CRAN or Github, depending on what the Dockerfile says), which may bring API changes compared to when the tests were last run (and presumably succeeded).

Whether such API chan

[2016-05-04 17:37] zkamvar opened #184 "Update 2016-01-26-SNP-selection.Rmd for pcadapt 3.0"
PCAdapt changed from version 2.2 to version 3.0 on 2016-04-15. This major change has caused the Signals of Selection vignette to fail (https://github.com/NESCent/popgenInfo/pull/182#issuecomment-216866911), which in turn is preventing any new submissions from getting past.

I have sent correspondence to the maintainer of PCAdapt to see if they are willing to help and/or provide a changeLog.

[2016-05-04 17:43] zkamvar commented on #183
One issue that definitely will arise is the fact that our attempt at a unifying git framework (git2r), currently does not have methods for cherry-pick or rebase. That being said, updating via `merge`, while it does create unnecessary commits, it will still work for the majority of submissions.

[2016-05-04 17:53] zkamvar commented on #183
I wonder if we could use the Docker build to trigger a commit that, say, changes the date in the DESCRIPTION file on the master branch, effectively triggering a rebuild.

[2016-05-06 02:58] #184 closed

[2016-05-09 17:30] zkamvar opened #186 "Add Research Question to TEMPLATE"
Suggested by Reviewer 2:

[2016-05-09 17:31] zkamvar opened #187 "Add Visualizing the results to TEMPLATE vignette"
From Reviewer 2:

[2016-05-23 03:37] zkamvar opened #188 "Add more explicit information to PopDiffSequenceData.html"
This is from Reviewer #2:

Add this into the data section:

[2016-05-24 21:41] #186 closed

[2016-05-24 21:41] #187 closed

[2016-07-05 21:22] hlapp opened #190 "Add menu link for LMM Genetic Diversity vignette"
Need to add menu link for new LMM Genetic Diversity vignette, see #182. @panastheod [suggests](https://github.com/NESCent/popgenInfo/pull/182#issuecomment-229796625) "Comparing genetic diversity using mixed models" as the menu text.

[2016-07-05 21:30] hlapp commented on #188
Looks like this hasn't been done yet, but the manuscript revision is submitted and published. Hence, I'm going to remove the milestone. @mmlopezu will you still get to this, or should someone else take this?

[2016-07-05 23:56] zkamvar commented on #190
There's also the matter of copy-editing, which I will include here as well.

[2016-07-06 20:10] #190 closed

[2016-11-18 16:02] hlapp opened #193 "Builds fails after CRAN package update"
Our current `master` branch [fails to build](https://circleci.com/gh/NESCent/popgenInfo/552):

[code]

It seems odd that a deprecation results in an error, but I don't know enough about the details of the respective package. @zkamvar: any ideas how best to fix this?

[2016-11-18 16:04] hlapp commented on #193
And FYI, the reason I reran the last ([previously successful](https://circleci.com/gh/NESCent/popgenInfo/550)) build was that the rpopgen container changed (see NESCent/popgen-docker#14) and was rebuilt.

[2016-11-18 16:11] zkamvar commented on #193
I will look into this at some point, but I'm currently frantically finishing up my dissertation to turn in to my committee by Monday...

[2016-12-10 21:22] zkamvar commented on #193
It's as I suspected: an API change. This is not the first time it's happened; see #184.

This package used to be able to take in a data matrix in the user's session, but it removed this capability and now relies solely on files created on the user's disk and wrapped the 'deprecation' notice in a `stop()`. I can add a fix by writing the matrix to a temporary file. Additionally, I'll write the maint

[2016-12-11 02:07] hlapp commented on #193
Is there an alternative package? Is there a good rationale for the API change, or is this rather erratic and given the history `pcadapt` isn't the best package for us to recommend to users?

[2016-12-11 02:11] zkamvar commented on #193
I don't know if there is an alternative package for this explicit approach. @smanel originally submitted this vignette and might know.

[2016-12-11 05:14] smanel commented on #193
At my knowledge, no alternative package for this approach.   I think that users are used to  matrix or dataframe!
I can also ask  to M. Blum if no answer from Keurcien.

[2016-12-15 23:12] #193 closed

[2017-01-02 20:41] zkamvar opened #197 "Add generation of R files to build?"
Something useful for teaching might be to have the R scripts available for people to download from the website by replacing "html" with "R". This is easily achieved with the command `knitr::purl('$<', documentation = 2)`.

I would issue a pull request, but I'm not terribly literate in Make. What do you think, @hlapp?

[2017-01-03 12:49] hlapp commented on #197
Sounds like a good idea. Can you elaborate how you envision this to work? For example, can you show the commands (or steps) someone would type (into R? the command line?) if this were enabled?

[2017-01-03 17:45] zkamvar commented on #197
So, in the makefile, we would have a rule that converts Rmd to R using `knitr::purl()`. These R files will be placed in the same directory as the html files so that if one wanted to download the R file, they could simply change the URL from http://popgen.nescent.org/LMM-Genetic-Diversity.html
to http://popgen.nescent.org/LMM-Genetic-Diversity.R.

It is currently possible to obtain an R script from

[2017-01-03 19:57] hlapp opened #198 "Add link to publication to home page"
Apparently we haven't done that yet. How modest of us 😼 Still, some might find this link actually useful, so let's add it.

[2017-01-03 21:21] zkamvar commented on #198
blah. This is closed with #199

[2017-01-03 21:26] hlapp commented on #198
But #199 isn't merged yet 😁

[2017-01-03 21:31] #198 closed

[2017-01-24 22:36] hlapp commented on #197
I looked into this. I think the main challenge here would be to implement this such that only those `.Rmd` documents get their scripts extract to an R script for which using them as an R script (or a template for one) would be intended.

It seems most of the documents for which this wouldn't be the case are already recognizable as plain Markdown (`.md`) and not Rmarkdown (`.Rmd`) documents. Howeve

[2017-01-25 14:42] zkamvar commented on #197
I think setting the rule for all `.Rmd` documents in the `use/` and `develop/` directories would be a good rule for this. I'm not very well versed in Make, so I'm not quite sure how it would work.

[2018-04-03 17:44] zkamvar opened #204 "Update to circle 2.0"
CircleCI is sunsetting all 1.0 builds and migrating to 2.0: https://circleci.com/docs/2.0/migrating-from-1-2/

If we want to continue building after August, we should update the `circle.yml` file.

From my experience [playing with] [Circle 2.0 yaml files], it seems that we can have the ability to save artifacts for download and include CRON jobs so that we aren't caught off guard when someone subm

[2018-04-03 21:37] zkamvar opened #205 "Build website weekly"
As part of #204, It's possible to schedule cron jobs in Circle 2.0.

Official documentation: https://circleci.com/docs/2.0/workflows/#scheduling-a-workflow

Here's a worked example: https://github.com/everhartlab/sclerotinia-366/blob/1f40f64720803689d9990290e464a9540b83f8c0/.circleci/config.yml#L95-L103

[2018-04-03 21:40] zkamvar opened #206 "Save tarball as artifact on CircleCI"
As part of #204, to help facilitate reviews for those who don't have the capability of installing docker or R, saving the tarballs as temporary artifacts on CircleCI would be useful for reviewers to download and inspect the output.

[2018-05-18 14:18] hlapp opened #208 "Enable HTTPS for website"
Through a partnership with Let's Encrypt [Github allows HTTPS for custom domains since May 1](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/). Let's enable this here.

[2018-05-18 14:29] hlapp opened #209 "Build on master fails in 2018-03-27_RDA_GEA.Rmd"
Unfortunately, after merging #207 we have a build failure on master:

[code]

Not sure how this could be with the build succeeding on the branch. @zkamvar or @BrennaF any clues?

[2018-05-18 15:17] zkamvar commented on #209
I suspect it may be working from an old version of the docker container? I'm going to rebuilt it and ssh in to see what may be the problem.

[2018-05-18 15:29] zkamvar commented on #209
I believe it has to do with the cache.

Here's the hash for the container used on Master:

[code]

Whereas the PR had to download a new container:

[code]

[2018-05-18 15:32] zkamvar commented on #209
I'm starting the build without the cache to see if it takes.

[2018-05-18 15:38] zkamvar commented on #209
Okay it failed 🤦‍♂️

I'm pulling the latest container now, but it may take a while as I am on a pretty poor internet connection.

[2018-05-18 15:40] zkamvar commented on #209
Though, I suspect it has to do with the fact that the new vegan was released yesterday and it was only today that the container picked it up.

[2018-05-18 15:53] hlapp commented on #209
That seems the most likely cause to me 😃

[2018-05-20 16:14] #209 closed

[2018-06-07 14:35] #204 closed

[2018-06-07 16:49] hlapp commented on #204
This was finally resolved and completed not with the merge of #212 but in a26dff2b6f10426c4bc84d7c21f3b1e18ebe9941. It took a few attempts to get the deployment step correct, which only happens on master.

[2018-06-07 16:50] hlapp commented on #205
Indeed we're in a position now to add this.

[2018-06-11 16:48] zkamvar commented on #205
I've added a commit in another branch that attempts to add this.... just as GitHub is experiencing issues 🤦‍♂️. In the meantime, what time should the website be rebuilt, or, what would be the least inconvenient time to have to fix a stupid bug?

[2018-06-11 16:57] hlapp commented on #205
I don't think we need to put this at a time that would allow quickly fixing the issue; isn't the main goal to _surface_ the issue so we know about it, and can consider how to address it, before some poor vignette submitter is hit by it?

Given that, I'd put it in the wee hours of the US morning, say 2am US Eastern (which would be 11pm Pacific, and still before 9am in Europe).

[2018-06-11 19:31] zkamvar commented on #205
Good point! I'll set it up for the wee hours of tomorrow morning (temporarily allowing this branch to build) and make a pull request.

[2018-10-18 21:21] hlapp opened #214 "Include Liam Revell's learnPopGen?"
Liam Revell recently posted to EvolDir his development of the `learnPopGen` R package and accompanying R Shiny apps:

interfaces page: http://www.phytools.org/PopGen/.

Should we include this on the website in some form, and if so, which form might be best suited?

[2019-05-10 14:03] hlapp opened #216 "Error in RDA vignette"
Apparently the package `psych`, which is required by the vignette, used to be a dependency of a package installed in the container, but now isn't. At least that's the only explanation that comes to mind as to why this vignette passed originally and now fails:

[code]

Also reminds us of #205, and #213 (not sure why that hasn't been merged yet).

[2019-05-10 20:51] hlapp commented on #216
At least locally this succeeds now with the container resulting from NESCent/popgen-docker#36.

[2019-05-11 00:41] hlapp commented on #216
Also succeeds on CI with the new image up on Docker Hub.

[2019-05-11 00:41] #216 closed

[2019-05-11 00:43] hlapp commented on #205
Fixed by #213, although I took out the weekly re-deployment step. @zkamvar can you reopen if you believe the weekly redeployment is important?

[2019-05-11 00:43] #205 closed

[2019-08-07 18:23] hlapp opened #217 "Build fails due to changes in devtools package"
The error occurs in the following chunk: https://github.com/NESCent/popgenInfo/blob/2bf7239c6367e2f80cb0147f3e332f4b83027709/develop/package_basics.Rmd#L180-L182

The error is the following:
[code]
Apparently something in devtools changed that requires fixing the chunk.

However, it may be worth considering to obsolete almost the whole article, and to link instead to the recently published [rOpenS

[2019-08-07 19:52] zkamvar commented on #217
I would agree to label it as obsolete and just point to the rOpenSci book. I can make a PR to issue the death knell for that page and update the landing page if you'd like.

[2019-08-07 20:32] hlapp commented on #217
Yes please 👍

[2019-09-10 17:13] hlapp commented on #217
@zkamvar did you get around to changing anything? I don't see a new commit or PR. Or did you wave a magic wand? Magically the weekly build started working again: https://circleci.com/gh/NESCent/popgenInfo/700

[2019-09-16 00:33] #217 closed

[2020-01-16 06:32] guojingfang123 opened #219 "How to convert a VCF file to a this format?"
Hi, I only have VCF files now, how can I change it to the format "master_pinus_data_genotype.txt"? Are there tools or scripts? Thank you.

[2020-01-16 09:05] zkamvar commented on #219
Hello,

If you have VCF data, {pegas} can import it with read.vcf: https://www.rdocumentation.org/packages/pegas/versions/0.12/topics/read.vcf, which gets stored as a "loci" object. You can also use {vcfR} with read.vcrR: https://www.rdocumentation.org/packages/vcfR/versions/1.8.0/topics/VCF%20input%20and%20output and then you can use vcfr2genind to import your data to genind format: https://knaus

[2021-05-13 05:45] sekhwal opened #221 "error while accessing a vcf file"
Hi,
I have a vcf file. It is filtered by tassel and save it as vcf.

while accessing the this vcf file to popgenInfo with the following commands, I am getting the following error. Please help me to figure out the issue.

gi_vcf <- read.vcfR( file = "gi-filter-new.vcf", verbose = T )
gi_genind <- vcfR2genind(gi_vcf)

error::::;
Error in extract.gt(x, return.alleles = return.alleles) :
  ID column c

[2021-05-13 20:58] sekhwal commented on #221
I used my unfiltered file and I did not get the above error.
I used following commands: However, when I write the .txt file it is taking very long time to generate file. Is there any way I can filter the input vcf file?

gi_genind <- vcfR2genind(gi_vcf)
class(gi_genind)
gi_genind
gi_genclone <- poppr::as.genclone(gi_genind)
gi_genclone

write.table(gi_genclone, file = "gi_vcfR.txt", sep = "\t",

[2021-05-14 17:02] zkamvar commented on #221
You might benefit from the documentation for vcfR on this matter: https://knausb.github.io/vcfR_documentation/filtering_data.html

Otherwise, if you are still having issues, the best place to ask search for answers or ask questions would be the developer's GitHub page: https://github.com/knausb/vcfR/issues